body {
  padding: 10px;
  margin: 0;
  /* display: flex; */
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: indigo;
}

.container {
  /* widows: 800; */
  max-width: 80%;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 00 10px 2px;
}
.btn-grid {
  display: grid;
  grid-template-columns: repeat (2, auto);
  grid: 10px;
  margin: 20px;
}
.btn {
  
  border: 2px solid black;
  background-color: white;
  padding: 5px 10px;
  color: indigo;
  outline: none;
}
.btn:hover {
  border-color: black;
}
.btn.wrong {
  border-color: red;
}

.btn.correct {
color: green;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}
.controls {
  background-color: indianred;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}

.quiz_box header .timer .timer_sec {
  font-size: 12px;
  font-weight: 500;
  height: 30px;
  width: 45px;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: #343a40;
  border: 1px solid #343a40;
  user-select: none;
}
.result_box .buttons button {
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
}

.buttons button.restart {
  color: #fff;
  background: #007bff;
}

.buttons button.restart:hover {
  background: #0263ca;
}

.buttons button.quit {
  color: #007bff;
  background: #fff;
}

.buttons button.quit:hover {
  color: #fff;
  background: #007bff;
}
